<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>見積書作成画面</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
    <P>リフォーム見積者作成ツール<br>
        (営業者ログイン画面)</P>
</div>

<div class="container">
    <form for="username" class="label">氏名</form>
    <input type="text" id="username" name="username">
</div>

<div class="container">
    <form for="password" class="label">パスワード</form>
    <input type="password" id="password" name="password" >
</div>

<div>
    
</div>
<div class="container">
    <button>ログイン</button>
    
</div>



</body>
</html>