<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>営業者一覧画面</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
    <p>営業者一覧画面</p>
     </div>

     <div>部署名検索</div>
     <input type="text">
     <button>検索</button>




     <div>

            <table>

                <tr>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>パスワード</th>
                    <th>部署名</th>
                    <th></th>
                </tr>


                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/login" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="http://localhost/reform_estimate/public/register" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="https://www.google.com" class="btn btn-primary" role="button">編集</a>
                    </td>
                </tr>
            </table>

     </div>
     <div>
     <button id="menue">管理者メニュー</button>
    </div>
</body>
</html>
