/* General styles */

p {
    background-color: orange;
    text-align: center;
    padding: 10px;
    margin: 0;
}

h2 {
    text-align: center;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(241, 168, 84);
}

/* Button styles */

.btn {
    text-align: center;
    margin-top: 1px;
    background-color: #007bff;
}

.btn-primary, .btn-dark, .btn-danger {
    padding: 10px 20px;
    font-size: 16px;
}

.custom-border {
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    display: inline-block;
}

/* Form styles */

.form-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    width: 20%;
    float: left;
    margin-right: 1rem;
    text-align: right;
}

.form-group input {
    width: 75%;
}

.form-control {
    width: 300px !important;
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 10px;
}

.form-control:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

/* Margin classes */

.margin-left-300 {
    margin-left: 300px;
}

.custom-margin {
    margin: 10px;
}

.custom-margin-bottom {
    margin-bottom: 10px;
}
