body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    background-color: orange;
    padding: 10px;
    margin-top: 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

.form-container {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 0 30%;
    border-radius: 10px;
}

#department {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 15px; /* Same spacing as input fields */
    width: 100%; /* Make it take up the full width */
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: stretch; /* Make buttons take the full width */

}

.button-container button {
    padding: 10px 20px;
    margin: 10px auto; /* Centers the button horizontally */
    width: 20%; /* Adjust width as needed */
    cursor: pointer;
    display: block; /* Ensure the button behaves like a block element for centering */
}


button:first-of-type {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

