<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>見積書一覧画面(管理者用)</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
        <p>見積書一覧画面<br>（管理者用）
        </p>
         </div>

         <div>見積書発行日、お客様名、工事名、営業担当、営業部署で検索</div>
         <input type="text">
         <button>検索</button>



         <div>

                <table>

                    <tr>
                        <th>見積書発行日</th>
                        <th>お客様名</th>
                        <th>工事名</th>
                        <th>営業担当</th>
                        <th>営業部署</th>
                        <th></th>
                    </tr>


                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>


                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>閲覧</button></td>

                    </tr>
                </table>

         </div>
         <div>
         <button id="menue">管理者メニュー</button>
        </div>
</body>
</html>
