p {
    background-color:orange;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;


}

th {
    background-color:  rgb(241, 168, 84);
}

#menu{
    margin: 20px;
    margin-left: 83%;
    cursor: pointer;
    border: 2px solid black;
}
